summary { 
    color: rgb(255, 255, 255); font-size:xx-large;
}


#gitlabel{ 
    padding-right: 22px; 
}

p,h3,label,li{ 
    color: rgb(252, 252, 252); 
    font-size: medium; 
}

#opend{background-color: rgb(33, 77, 33);}

#skills{color: rgb(111, 15, 15);}
body{
    background-image: url('img/jungle2.jpeg')  ;
}