*{
    margin: 0;
    padding: 0;
    color: black;
}
html{
    scroll-behavior: smooth;
}
header{
    display: flex;
    flex-direction: row;
    font-size: x-large;
    background-color: rgb(235, 153, 179, 0.5);
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    font-family: Fredoka;
    z-index: 1;
    
}
.header2{
    flex: 1;    

}
.header1{
    flex: 1;
}
.header3{
    flex: 1;
}
h1{
    color: white;
    margin-top: 3rem;
    text-align: center;
    position: relative;
    margin-top: 3%;
    font-size: 300%;
}
.describer{
    margin-top: 2rem;
    text-align: center;
    position: relative;
    background-color: rgb(235, 153, 179, 0.5);
    box-shadow: 2px 2px rgb(0, 0, 0, 0.2);
    margin: 2rem;

}
body{
    background-image: url("img/pexels-eberhard-grossgasteiger-1670187.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: quicksand;
}

    
#work,ul,li{
    margin-top: 1rem;
}
p{
    margin-top: 2rem;
}
@font-face {
    font-family: quicksand;
    src: url(fonts/Quicksand/static/Quicksand-Regular.ttf);
}
@font-face {
    font-family: Fredoka;
    src: url(fonts/Fredoka_One/FredokaOne-Regular.ttf);
}
@font-face {
    font-family: bold-quicksand;
    src: url(fonts/Quicksand/static/Quicksand-Bold.ttf);
}
img{
    filter: blur(4px);
    box-shadow: 2px 2px rgb(0, 0, 0, 0.1);
    width: 100%;
    max-width: 80%;
    max-height: auto;
    margin-top: 10%;
    z-index: -10;

}
img:hover{
    
    filter: blur(0px);   
}


a:hover{
    font-size: larger;
    color: rgb(237, 93, 138) !important;

}
a:link{
    text-decoration:None;
}
a:visited{
    color: black;
}
ul{
    list-style-position: inside;
}
b{
    font-family: bold-quicksand
}
.fleximg{
    display: flex;
    display: row;
    flex-wrap: wrap;
    margin-left: 9%;
    row-gap: 0px;

    
}
.depth1{
flex: 1;
position: relative;
width: 800px;
}
.depth2{
flex: 1;
position: relative;
width: 800px;
}
.depth3{
flex: 1;
position: relative;
width: 800px;
}
.centerimg {
    font-family:  bold-quicksand;
    position: absolute;
    text-align: center;
    top: 50%;
    right: 10%;
    width: 100%;
    color: rgb(255, 255, 255);
    margin: 0 auto;
    font-size: 150%;
  }
img:hover + .centerimg{
    opacity: 0 !important;
}